* {
  box-sizing: border-box;
}

section.segments {
  border: solid 1px #f00;
  position: relative;
  height: 100vh;
  width: 100vw;
}

section.segments > .segment {
  border: dashed 1px #f00;
  width: 50%;
  height: 50%;
  position: absolute;
}

.segment.top { top: 0; }
.segment.left { left: 0; }
.segment.right { right: 0; }
.segment.bottom { bottom: 0; }

.segment.active {
  background-color: #B0BEC5;
}
